.fondo {
    background-image: url("bomberos/Bomberos.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; /* Ocupa todo el alto de la pantalla */
  }